* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$priColor: #14213d;
$secColor: #fca311;
$terColor: #0bebaf; 

// HEADER 

.header {
    width: 100%;
    height: 100vh;
    background-color: $priColor;
}


.navbar {
    padding-top: 10px;
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: white;
        font-size: 30px;
    }

    span {
        color: $secColor;
    }
}

.navbar-list {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        padding: 3px;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 3px;
        border-radius: 4px
    }

    a:hover {
        background-color: #0bebaf;
        color: #14213d;
        transition: ease-in .4s;
    }    
}

.hero {
    width: 100%;
    height: 70vh;
    background-color: $priColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
        width: 260px;
        height: 269px;
        border-bottom: 7px solid #0bebaf;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: white;
        font-size: 50px;
    }

    p {
        color: white;
        font-size: 18px;
    }

    span {
        color: $secColor;
    }
}

.hero-content-info {
        padding: 10px 10px 10px 0px;
}

// SOBRE MÍ - SECCIÓN 

.about-container {
    width: 100%;
    height: 100vh;
}