* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

$priColor: #14213d; 
$secColor: #fca311;
$terColor: #0bebaf;


/* Header  */

.header {
    width: 100%;
    height: 100vh;
    background-color: $secColor;
}

.navbar {
    padding-top: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar h2 {
    color: white;
}

.navbar span {
    color: #fca311;
}

.navbar-list {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-list li {
    padding: 3px;
}

.navbar-list a {
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 4px;
}

.navbar-list a:hover {
    background-color: #0bebaf;
    color: #14213d;
    transition: ease-in .4s;
}