@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables

$priColor: #14213d;
$secColor: #fca311;
$terColor: #0bebaf; 

// General

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


html {
    scroll-behavior: smooth;
}

// Header (nav y hero)

.header {
    width: 100%;
    height: 120vh;
    background-color: $priColor;
}


.navbar {
    padding-top: 10px;
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: white;
        font-size: 30px;
    }

    span {
        color: $secColor;
    }
}

.navbar-list {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        padding: 3px;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 3px;
        border-radius: 4px
    }

    a:hover {
        background-color: #0bebaf;
        color: #14213d;
        transition: ease-in .4s;
    }    
}

.hero {
    width: 100%;
    height: 70vh;
    background-color: $priColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
        // width: 260px; 
        // height: 269px;
        margin-top: 40px;
        width: 70vw;
        height: 50vh;
        border-bottom: 7px solid #0bebaf;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    h1 {
        color: white;
        font-size: 50px;
    }

    p {
        color: white;
        font-size: 18px;
    }

    span {
        color: $secColor;
    }
}

.hero-content-info {
        padding: 10px 10px 10px 0px;
}

// Sección - Sobre mí

.about-container {
    width: 100%;
    // height: 285vh;
    // display: grid;
    // grid-template-areas: 
    // "about-info-one"
    // "about-info-two";
    // grid-template-columns: 100%;
    // grid-template-rows: repeat(2, 1fr);
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #0bebaf;
    margin-top: 10px;
    margin-bottom: 2em;
}

.about-info-one {
    // grid-area: about-info-one;
    padding: 3em;

    p{
        font-size: 19px;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
        color: $priColor;
        text-shadow: 1px 1px $secColor;
    }
}

.rocketImg {
    display: flex;
    justify-content: center;
    margin-top: 70px;

    img {
        width: 120px;
    }

    img:hover {
        transform: rotate(-360deg);
        transition: transform .8s ease-in-out;
        filter: invert(100%);
    }
}

.download-cv-btn {
    margin-top: 1em;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0bebaf;
    box-shadow: 1px 3px 11px -5px $secColor;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
}

.about-info-two {
    // grid-area: about-info-two;
    padding: 3em;

    p{
        font-size: 19px;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
        color: $priColor;
        text-shadow: 1px 1px $secColor;
    }

    img {
        width: 70px;
        margin: 10px;
    }

    img:hover {
        transform: rotate(360deg);
        transition: transform .8s ease-in-out;
    }
}

// Sección - Proyectos 

.projects-container {
    background-color: $priColor;
    width: 100%;
    // height: 200vh;
}

.projects-headings {
    padding: 2em;
    padding-bottom: 0%;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px $secColor;
}

.projects-cards {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border-radius: 20px;
    width: 300px;
    // height: 340px;
    color: #fff;
    background-color: #068b68;
    margin-bottom: 30px;

    a img {
        width: 25px;
    }
}

.card_img {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url(img/login1.jpg);
}

.card_img2 {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url(img/login2.jpg);
}

.card_img3 {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url(img/momentos_page.jpg);
}

.card_title {
    padding: 20px;

    h2 {
        color: $secColor;
    }

    p {
        margin-top: 7px;
    }
}

.card_projects-links {
    display: flex;
    justify-content: space-evenly;

    i {
        color: #fff;
        font-size: 25px;
        margin-bottom: 15px;
    }
}


// Sección - Contacto

.contact-container {
    width: 100%;
    height: 140vh;
}

.contact-headings {
    padding: 2em;
    padding-bottom: 0;
    font-size: 1.5em;
    text-shadow: 1px 1px $secColor;
}

.contact-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    img {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        margin-right: 10px;
    }

    img:hover {
        transform: rotate(360deg);
        transition: transform .8s ease-in-out;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin: 2em;

    input{
        padding: 10px 20px;
        margin-bottom: 1em;
        background: none;
        border: none;
        border-bottom: 1px solid $terColor;
    }

    textarea{
        height: 150px;
        width: 300px;
        background: none;
        color: black;
        border: 1px solid $terColor;
    }
}

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    background-color: $terColor;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px $secColor;
}

.btn-submit:hover {
    background-color: #14213d;
    box-shadow: none;
    color: #fff;
}

// Footer 

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #14213d;
    color: #fff;

    p {
        margin-top: 7px;
        text-align: center;
        opacity: 40%;
    }
}

.footer-content {
    h2 {
        text-align: center;
        font-size: 2em;
    }

    h5 {
        color: $secColor;
        font-size: 1.5em;
        text-align: center;
    }

    span {
        color: $secColor;
    }
}




