@import "node_modules/bootstrap/scss/functions";
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/grid";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables

$priColor: #14213d;
$secColor: #fca311;
$terColor: #0bebaf; 

// General

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

// Header (nav y hero)

.header {
    position: relative;
    width: 100%;
    height: 120vh;
    background-color: $priColor;
}

.navbar {
    padding-top: 10px;
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: white;
        font-size: 2rem;
    }

    span {
        color: $secColor;
    }
}

.navbar-list {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        padding: 3px;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 3px;
        border-radius: 4px
    }

    a:hover {
        background-color: #0bebaf;
        color: #14213d;
        transition: ease-in .4s;
    }    
}

.hero {
    width: 100%;
    height: 70vh;
    background-color: $priColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
        margin-top: 40px;
        width: 70vw;
        height: 60vh;
        border-bottom: 7px solid #0bebaf;
        border-radius: 50%;
        object-fit: contain;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    h1 {
        color: white;
        font-size: 3rem;
    }

    p {
        color: white;
        font-size: 1rem;
    }
}

.title-span {
    color: $secColor;
}

.typewrite-box{
    margin-top: 0.7rem;
}

.wrap {
    color: #fff!important;
}

.custom-shape-divider-bottom-1656674544 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656674544 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.custom-shape-divider-bottom-1656674544 .shape-fill {
    fill: #FFFFFF;
}

// Sección - Sobre mi

.about-container {
    width: 100%;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #0bebaf;
    margin-top: 10px;
    margin-bottom: 2em;
}

.about-info-one {
    padding: 3em;

    p{
        font-size: 1.2rem;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
        color: $priColor;
        text-shadow: 1px 1px $secColor;
    }
}

.rocketImg {
    display: flex;
    justify-content: center;
    // margin-top: 70px;

    img {
        width: 120px;
    }

    img:hover {
        transform: rotate(-360deg);
        transition: transform .8s ease-in-out;
        filter: invert(100%);
    }
}

.download-cv-btn {
    margin-top: 1em;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0bebaf;
    box-shadow: 1px 3px 11px -5px $secColor;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
}

.about-info-two {
    padding: 3em;

    p{
        font-size: 1.2rem;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
        color: $priColor;
        text-shadow: 1px 1px $secColor;
    }

    img {
        width: 70px;
        margin: 10px;
    }

    img:hover {
        transform: rotate(360deg);
        transition: transform .8s ease-in-out;
    }
}

.tech-icon {
    font-size: 5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    p{
        font-size: 0.8rem;
        text-align: center;
    }
}

.containerNoResponsive {
    visibility: hidden;
}

.tech-icon:hover {
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
}

.html-icon:hover {
    color: #E34F26;
}

.css-icon:hover {
    color: #264DE4;
}

.sass-icon:hover {
    color: #CC6699;
}

.bootstrap-icon:hover {
    color: #7711F6;
}

.js-icon:hover {
    color: #F7DF1E;
}

.python-icon:hover {
    background: linear-gradient(328deg, rgba(55,109,155,1) 33%, rgba(255,206,58,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.7s ease-in-out;
    transition-duration: 1s;
}

.git-icon:hover {
    color: #F05133;
    transition: all 0.7s ease-in-out;
}

.github-icon:hover {
    transition: all 0.7s ease-in-out;
}

// Sección - Proyectos 

.projects-container {
    width: 100%;
    background-image: url(img/coding-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.projects-headings {
    // position: absolute;
    // top: 1rem;
    // left: 5rem;
    padding: 2em;
    padding-bottom: 0%;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px $secColor;
}

.projects-cards {
    // position: absolute;
    // top: 10rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border-radius: 20px;
    width: 300px;
    color: #fff;
    background-color: #068b68;
    margin-bottom: 30px;

    a img {
        width: 25px;
    }
}

.card_img {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url(img/preview-boyka3d.png);
}

.card_img2 {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url(img/momentos_page.jpg);
}

.card_img3 {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-image: url(img/login1.jpg);
}

.card_title {
    padding: 20px;

    h2 {
        color: $secColor;
    }

    p {
        margin-top: 7px;
    }
}

.card_projects-links {
    display: flex;
    justify-content: space-evenly;

    i {
        color: #fff;
        font-size: 25px;
        margin-bottom: 15px;
    }
}

// Sección - Contacto

.contact-container {
    width: 100%;
}

.contact-headings {
    padding: 2em;
    padding-bottom: 0;
    font-size: 1.5em;
    text-shadow: 1px 1px $secColor;
}

.contact-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    img {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        margin-right: 10px;
    }

    img:hover {
        transform: rotate(360deg);
        transition: transform .8s ease-in-out;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin: 2em;

    input{
        padding: 10px 20px;
        margin-bottom: 1em;
        background: none;
        border: none;
        border-bottom: 1px solid $terColor;
    }

    textarea{
        height: 150px;
        width: 300px;
        background: none;
        color: black;
        border: 1px solid $terColor;
    }
}

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    background-color: $terColor;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px $secColor;
}

.btn-submit:hover {
    background-color: #14213d;
    box-shadow: none;
    color: #fff;
}

// Footer 

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #14213d;
    color: #fff;

    p {
        margin-top: 7px;
        text-align: center;
        opacity: 40%;
    }
}

.footer-content {
    h2 {
        text-align: center;
        font-size: 2rem;
    }

    h5 {
        color: $secColor;
        font-size: 1.5rem;
        text-align: center;
    }

    span {
        color: $secColor;
    }
}

// Sección Responsive - Media Queries 

@media (max-width:500px) {
    .navbar {
        h2 {
            color: white;
            font-size: 1.7rem;
        }
    }
    
    .hero {
        img {
            margin-top: 40px;
            width: 300px;
            height: 40vh;
            border-bottom: 7px solid #0bebaf;
        }
    }

    .tech-icon {
        font-size: 4.3rem;
    }
}

@media (min-width: 500px) {
    .containerNoResponsive {
        visibility: visible;
    }

    .container {
        display: none;
    }
}

@media (min-width: 500px) and (max-width:960px) {
    .header {
        width: 100%;
        height: 100vh;
        background-color: $priColor;
    }

    .navbar {
        margin-bottom: 0px;
        padding-bottom: 0px;
        height: 15%;
    }

    .hero {
        img {
            // width: 260px; 
            // height: 269px;
            margin-top: 40px;
            width: 349px;
            height: 50vh;
            border-bottom: 7px solid #0bebaf;
        }
    }

    .projects-cards {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 960px) and (max-width:1024px) {
    .navbar {
        padding-top: 0px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar-list {
        margin-top: 10px;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .hero {
        img {
            margin-top: 40px;
            width: 349px;
            height: 50vh;
            border-bottom: 7px solid #0bebaf;
        }
    }

    .projects-cards {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 1025px) {
    .header {
        width: 100%;
        height: 100vh;
        background-color: $priColor;
    }
    
    .navbar {
        padding-top: 0px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar-list {
        margin-top: 10px;
        list-style: none;
        display: flex;
        flex-direction: row;

        li {
            margin-right: 20px;
        }
    }

    .hero {
        width: 100%;
        height: 70vh;
        background-color: $priColor;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    
        img {
            margin-top: 40px;
            width: 430px;
            height: 50vh;
            border-bottom: 7px solid #0bebaf;
        }
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    
        h1 {
            color: white;
            font-size: 50px;
        }
    
        p {
            color: white;
            font-size: 18px;
        }
    
        span {
            color: $secColor;
        }
    }

    .projects-cards {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 1250px) {
    .header {
        width: 100%;
        height: 100vh;
        background-color: $priColor;
    }
    
    .navbar {
        padding-top: 0px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar-list {
        margin-top: 10px;
        list-style: none;
        display: flex;
        flex-direction: row;

        a {
            padding: 6px;
        }

        li {
            margin-right: 20px;
        }
    }

    .hero {
        width: 100%;
        height: 70vh;
        background-color: $priColor;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    
        h1 {
            color: white;
            font-size: 50px;
        }
    
        p {
            color: white;
            font-size: 18px;
        }
    
        span {
            color: $secColor;
        }
    }

    .tech-icon {
        font-size: 3.8rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
      }

    .projects-cards {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    // .about-container {
    //     width: 100%;
    //     display: grid;
    //     grid-template-columns: 40% 10% 50%;
    //     grid-template-rows: 500px;
    //     align-items: center;
    // }

    .rocketImg {  
        img {
            display: flex;
            width: 90px;
            height: 90px;
        }
    
        img:hover {
            transform: rotate(-360deg);
            transition: transform .8s ease-in-out;
            filter: invert(100%);
        }
    }

    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
